// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark);

// Font Variables
$palanquin-dark: 'Palanquin Dark', sans-serif;

h1 {
    color: #369;
    font-family: $palanquin-dark;
    font-size: 250%;
  }